<!DOCTYPE html>
<html lang="en" ng-app="cinema">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->

    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/contact-form.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/bookseats.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Qa Cinema</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" ng-controller='myCtrl'>
                <ul class="navbar-nav ml-auto">

                    <li>
                        <select id="filterBy">
                            <option id = "default">Filter</option>
                            <option id="1">Title</option>
                            <option id="2">Genre</option>
                        </select>

                    </li>
                    <li>
                        <p class = "hidden" >s</p>
                    </li>
                    <li>

                        <input list="hosting-plan" type="text" ng-model="query">
                        <datalist id="hosting-plan" class=" nav-link " ng-show="query ">
                            <option value="{{film.title}} {{film.genre}} {{film.age}} {{film.rating}}" ng-repeat="film in films|filter:search ">

                            </option>
                        </datalist>
                    </li>

                    <li>
                        <p class = "hidden" > ssss.</p>
                    </li>


                    <li class="nav-item">

                        <a class="nav-link" ui-sref="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="login">Login</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" ui-sref="meettheteam">Meet The Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="bookseats">Book Seats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div ui-view></div>

    <footer>
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">

                    <a ui-sref="home">Home</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a  ui-sref="about">About</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a ui-sref="#">Services</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a ui-sref="about">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Your Company 2017. All Rights Reserved</p>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>

    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


    <script src="app/app.js"></script>
    <script src="app/app-state-manager.js"></script>

    <script src="app/feature/Home/controller.js"></script>
    <script src="navbarSearch.js"></script>

    <script src = "app/feature/BookSeats/bookseats.js"></script>



</body>

</html>