<!-- Page Content -->
<section class="content-section-a " ng-controller="login">

    <div class="container ">
        <div class="row ">
            <div class="col-lg-5 ml-auto " id="pad ">
                <div class="loginall ">
                    <hr class="section-heading-spacer ">
                    <div class="clearfix "></div>
                    <h2 class="section-heading ">Login</h2>
                    <p class="lead ">Username <input type="text " name="L_uName " class="login1" ng-model="userLogin"><br></p>
                    <p class="lead ">Password <input type="password" name="L_pass " class="login1" ng-model="userPassword"></p>
                    <br><br><br><br>
                    <hr class="section-heading-spacer ">
                    <div class="clearfix "></div>
                    <a ng-click="loginUser()" class="btn btn-secondary btn-lg ">
                        <span class="network-name ">Login</span>
                    </a>
                    <p ng-model="loggedIn"></p>
                </div>

            </div>
            <div class="col-lg-5 mr-auto ">
                <div class="registerall ">
                    <hr class="section-heading-spacer ">
                    <div class="clearfix "></div>
                    <h2 class="section-heading ">Register</h2>
                    <p class="lead ">Username <input type="text "  ng-model="uName" class="login1"><br></p>
                    <p class="lead ">First Name <input type="text " ng-model="fName" class="login1"></p>
                    <p class="lead ">Last Name <input type="text "  ng-model="lName" class="login1"></p>
                    <p class="lead ">Email <input type="text "  ng-model="email" class="login1"></p>

                    <p class="lead ">Password <input type="password"  ng-model="pass" class="login1"></p>
                    <p class="lead ">Confirm Password <input type="password"  ng-model="pass2" class="login1"></p>

                    <p class="lead ">
                        <hr class="section-heading-spacer ">
                        <div class="clearfix "></div>
                        <a href = "" ng-click ="addUser()" class="btn btn-secondary btn-lg ">
                            <span class="network-name ">Register</span>
                        </a>

                </div>
            </div>
        </div>
    </div>


</section>